html, body {
    height: 100%;
    overflow-y: hidden;
}

.App {
    background: url('/src/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.active {
    border-bottom: 3px solid yellow;
    font-weight: bold;
}

.content {
    color: white;
    text-align: center;
}

.details-container {
    height: 100%;
}

.details {
    width: 400px;
    height: auto;
}

.details > img {
    object-fit: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0.5;
  }
